    body {
        max-width: 1500px;
        background: url("image/fone8.jpg") no-repeat fixed;
        background-size: 100%;
                }
    .head {
        width: 100%;
        height: 100%;
        }
    .head img {
        width: 100%;
        border-radius: 20px;
        }
    .head {
        display: inline-block;
        margin: 0;
        font-size: 3em;
        text-align: center;
        min-width: 200px;
        vertical-align: middle;
        font-style: 'Arial', italic; 
                }
                .head h1{
                    margin: auto;
                    position: absolute;
                    text-align: center;
                    color: DarkRed;
                    }
                .head h2{
                    margin: auto;
                    background-image: url("image/fone7.jpg");
                    border-radius: 20px;
                    color: Darkred;                            }
        nav{
            display:flex;
            justify-content: space-between;
            margin-top: 10px;
            margin-bottom: 20px;
            padding-left: 20px;
                }
                  section.about-comp {
                             display: flex;
                             justify-content: flex-start;
                         }
        main {
            width: 60%;
            font-size: larger;
            text-align: justify;
            margin-right: 10px;
            padding-left: 15px;
            }
            #goods  {
            width: 500px;
            }
     #right {
        width: 500px;
        color: DarkRed;
        }
        .adress {
            margin: 5px;
        }
                    #cont_start {
                    display: flex;
                    justify-content: center;
                    margin-bottom: 10px;
                                    }
                    #bons1 {
                        width: 300px;
                        height: 200px;
                        border-radius: 20%;
                    }
                        #bons2 {
                        width: 300px;
                        height: 200px;
                        border-radius: 20%;
                    }
                    #contacts {
                        border-radius: 20%;
                    }
                            .adress h5 {
                                font-size: 3em;
                                color: darkred;
                            }
    .my_contacts {
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        font-size: large;
        
    }
    #contacts {
    margin: 0 auto;
    width: 30%;
    height: 30%;
    display: flex;
    }
    .end {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        height:  10%;
    }
    .end p {
        text-align: center;
        font-size: 2.5em;
        font-style: italic;
        font-variant: small-caps;
        color: Darkred;
        
                }
                #map {
    border-style: groove;
    border-width: 5px;
    height: 200px;
    width: 400px;
    background-color: grey;
    float: right;
    margin-right: 10%;
                }
                .jumbotron {
                    width: 500px;
                    padding-left: 20px;
                    padding-right: 20px;
                }
                .btn-vertical-slider { margin-left: 10px; cursor: pointer;}
a {  cursor:pointer;}
.carousel.vertical .carousel-inner .item {
  -webkit-transition: 0.6s ease-in-out top;
     -moz-transition: 0.6s ease-in-out top;
      -ms-transition: 0.6s ease-in-out top;
        -o-transition: 0.6s ease-in-out top;
          transition: 0.6s ease-in-out top;
}

 .carousel.vertical .active {
  top: 0;
}

 .carousel.vertical .next {
  top: 100%;
}

 .carousel.vertical .prev {
  top: -100%;
}

 .carousel.vertical .next.left,
.carousel.vertical .prev.right {
  top: 0;
}

 .carousel.vertical .active.left {
  top: -100%;
}

 .carousel.vertical .active.right {
  top: 100%;
}

 .carousel.vertical .item {
    left: 0;
}
